@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Inter&family=Montserrat:wght@600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* navbar section */
.navbarr {
  width: 100%;
  padding: 10px 0;
  font-family: "Montserrat", sans-serif;
  background-color: #fffad7;
}

.navbarr .navv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarr .logo img {
  margin-left: 30%;
  width: 150px;
}

.navbarr .navbar-menu {
  z-index: 1;
}

.navbarr .navbar-menu li {
  list-style: none;
  display: inline-block;
}

.navbarr .navbar-menu li a {
  display: block;
  color: black;
  font-size: 16px;
  font-weight: 500;
  margin-right: 30px;
  text-decoration: none;
}

.navbarr .navbar-menu li .special {
  color: #fff;
}

/* contact section */
.contact {
  height: 100vh;
  margin-right: 0;
  background-color: #fffad7;
  font-family: "Inter", sans-serif;
}

.contact .heading h1 {
  font-family: "Cormorant Garamond", serif;
}

.contact .heading p {
  margin: 20px 0px 40px 0px;
  width: 70%;
}

.contact .left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 7%;
  padding-top: 1%;
}

.contact .left form .field {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 100%;
  margin-bottom: 20px;
}

.contact .left form .textarea {
  height: 100px;
  align-items: flex-start;
}

.contact .left form .textarea .label {
  margin-right: 47px;
}

.contact .left form .name {
  margin-right: 10px;
}

.contact .left form .name .label {
  margin-right: 70px;
}

.contact .left form .email .label {
  margin-right: 74px;
}

.contact .left form .field input,
.contact .left form .textarea textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  background: rgba(217, 217, 217, 0.22);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px 8px 0px 0px;
}

.contact .left form .textarea textarea {
  padding-top: 10px;
  resize: none;
}

.contact .left form .button {
  position: absolute;
  left: 300px;
  height: 47px;
  width: 170px;
  margin-top: 10px;
}

.contact .left form .button .submit-btn {
  width: 100%;
  height: 100%;
  border: 1px solid #72372b;
  background: #72372b;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.contact .right {
  background-color: #72372b;
  color: #fff;
  height: 450px;
  width: 350px;
  padding: 30px;
  position: absolute;
  right: 0px;
  top: 120px;
  z-index: 1;
}

.contact .right h4 {
  padding-left: 20px;
  margin-bottom: 50px;
}

.contact .right .info {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
}

.contact .right p {
  padding: 20px;
}

.contact .right p i {
    margin-right: 30px;
}

.contact .right p .hide {
  visibility: hidden;
} 

.contact .box1 {
  background-color: #bf8276;
  position: absolute;
  height: 90vh;
  width: 30vh;
  right: 0px;
  top: 0px;
}

.contact .box2 {
  background-color: #bf8276;
  position: absolute;
  height: 6vh;
  width: 6vh;
  right: 320px;
  top: 100px;
  z-index: 2;
}

/* footer */
footer {
  background-color: #bf8276;
  font-family: "Inter", sans-serif;
  color: #fff;
  height: 60vh;
}

footer .left-footer {
  background-color: #c99a91;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 890px;
  left: 30px;
}

footer .left-footer ul li {
  list-style: none;
  line-height: 60px;
}

footer .left-footer ul li a {
  text-decoration: none;
  color: #fff;
}

footer .left-footer .menu {
  position: absolute;
  top: 60px;
  left: 66px;
}

footer .left-footer .menu-heading {
  width: 300px;
  height: 40px;
  position: absolute;
  left: -30px;
  top: 20px;
  background-color: #9c766e;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .left-footer .legal {
  position: absolute;
  left: 450px;
  top: 160px;
}

footer .left-footer .legal-heading {
  width: 250px;
  height: 40px;
  position: absolute;
  left: 300px;
  top: 245px;
  background-color: #9c766e;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
}

footer .right-footer {
  position: absolute;
  right: 100px;
  top: 900px;
}

footer .right-footer .email {
  height: 30px;
  width: 100%;
  outline: none;
  border: none;
  padding: 20px;
}

footer .right-footer .button {
  height: 47px;
  width: 170px;
  margin: 20px 0px;
}

footer .right-footer .button .submit-btn {
  width: 100%;
  height: 100%;
  border: 1px solid #72372b;
  background: #72372b;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

footer .right-footer .socials i {
    font-size: 30px;
    padding: 30px 50px 0px 0px;
    cursor: pointer;
}